<div class="">
    <div class="breadcrumb">
        <div>
            <h1>Dashoard Informativa</h1>
            <p>Graficos informativos de gastos e volume de lixo de acordo com as compras</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-plastico">Plásticos</h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.plastico}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="primary" [value]="statusMensal.plastico" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-metal">Metais</h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.metal}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="danger" [value]="statusMensal.metal" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-papel">Papéis</h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.papel}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="success" [value]="statusMensal.papel" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-vidro">Vidros</h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.vidro}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="warning" [value]="statusMensal.vidro" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-organico">Resíduos Orgânicos
                    </h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.organico}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="warning" [value]="statusMensal.organico" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card card-icon mb-4">
                <div class="card-body p-4 pb-0">
                    <h5 class="card-title-nreciclavel">Não Recicláveis</h5>
                    <div class="">
                        <div>
                            <h2 class="font-weight-normal">{{statusMensal.naoReciclavel}}%</h2>
                        </div>
                        <div>
                            <div class="mb-3">
                                <ngb-progressbar type="warning" [value]="statusMensal.naoReciclavel" height="4px">
                                </ngb-progressbar>
                            </div>
                            <h6 class="font-weight-normal">Total mensal até o momento</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6 col-xl-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Gastos Mensais</h5>
                <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 400px;" aling="center"></div>
            </div>
        </div>
    </div>

</div>
<!-- 
	<div class="row">

		<div class="col-lg-4 col-sm-12">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Browser Used</h5>
					<h6 class="mb-2 text-muted"> Chrome</h6>
					<p class="mb-1 text-24 font-weight-light text-title">60%</p>
					<p class="mb-3">
						<ngb-progressbar type="success" [value]="60" height="4px"></ngb-progressbar>
					</p>
					<h6 class="mb-2 text-muted">Firefox</h6>
					<p class="mb-1 text-24 font-weight-light text-title">12%</p>
					<p class="mb-3">
						<ngb-progressbar type="success" [value]="12" height="4px"></ngb-progressbar>
					</p>
					<h6 class="mb-2 text-muted">Internet Explorer</h6>
					<p class="mb-1 text-24 font-weight-light text-title">10%</p>
					<p class="mb-3">
						<ngb-progressbar type="success" [value]="10" height="4px"></ngb-progressbar>
					</p>
					<h6 class="mb-2 text-muted">Opera</h6>
					<p class="mb-1 text-24 font-weight-light text-title">10%</p>
					<p class="mb-3">
						<ngb-progressbar type="success" [value]="10" height="4px"></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
	</div> -->
<div class="row md-row">

    <div class="col-md-6 half">
        <div class="card mb-6">
            <div class="card-body">
                <h5 class="card-title">Produtos Comprados Recentemente</h5>
                <div class="d-flex w-100 align-items-center mb-3 top-product--list">
                    <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80" src="./assets/images/ecom/product-sq-1.jpg" alt="img-product">
                    <div class="flex-grow-1">
                        <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
                        <p class="text-primary m-0">$450</p>
                        <p class="text-danger m-0 small">324 Units are Left</p>
                    </div>
                    <div>
                        <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
								class="material-icons">
								shopping_cart
							</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 half">
        <div class="card mb-6">
            <div class="card-body">
                <h5 class="card-title">Produtos mais Comprados</h5>
                <div class="d-flex w-100 align-items-center mb-3 top-product--list">
                    <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80" src="./assets/images/ecom/product-sq-1.jpg" alt="img-product">
                    <div class="flex-grow-1">
                        <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
                        <p class="text-primary m-0">$450</p>
                        <p class="text-danger m-0 small">324 Units are Left</p>
                    </div>
                    <div>
                        <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
								class="material-icons">
								shopping_cart
							</span></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>